* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-style: normal;
  letter-spacing: -0.01em;
}

@media screen and (min-width: 600px) {
  .image-container img {
    width: 70%;
    height: auto;
    margin-top: 120px;
  }
}

@media screen and (max-width: 600px) {
  .image-container img {
    width: 70%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 5px;
  }
}

.login-heading {
  display: flex;
  justify-content: center;
  text-align: start;
  padding: 15px 10px;
}

.login-Form div h3 {
  color: var(--primary-color);
}

.login-Form {
  margin-bottom: 50px;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
}

.login-btn {
  background: var(--primary-color);
  color: white;
  padding: 5px 30px;
  border-radius: 8px;
  border: 1px solid transparent;
}

.login-btn:hover {
  background: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: background-color 0.5s;
}

.login-google {
  color: black;
}