* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-style: normal;
    letter-spacing: -0.01em;
}

.banner-background {
    height: 250px;
    background-color: rgb(1, 27, 1);
    position: relative;
}